canvas id='canvas' width='600px' height='600px'

button#create Create new text object
button#delete Delete selected object

javascript:
  var canvas = new fabric.Canvas('canvas');

  var createText = function(e) {
    canvas.add(new fabric.IText('text', {
      fontSize: 32
    }));
  };

  $('#create').on('click', function(e) {
    createText(e);
  });

  $('#delete').on('click', function(e) {
    canvas.remove(canvas.getActiveObject());
  });
